
@font-face {
font-family: '! PEPSI !';
font-style: normal;
font-weight: normal;
src: local('! PEPSI !'), url('PEPSI_pl.woff') format('woff');
}

h1{
    font-weight: 200;
    font-family: '! PEPSI !' ;
}